@page "/mapwithlegendforareas"
@using UnlockedData.Mapael.Models
<div>
    
<Mapael MapOptions="_mapOptions" />
</div>

@code {

    MapOptions _mapOptions = new();    

    protected override void OnInitialized()
    {
       _mapOptions = new MapOptions() {
        Map = new Map()
        {
            Name = "france_departments",
            DefaultArea = new MapObject()
            {
                Attrs = new RaphaelObjectAttrs()
                {                    
                    Stroke = "#fff",
                    StrokeWidth = 1,
                    
                },
                AttrsHover = new RaphaelObjectAttrs()
                {                    
                    StrokeWidth = 2,
                },
                Text = new MapObjectText()
                {
                    Position = TextPosition.inner,
                    Attrs = new RaphaelObjectAttrs()
                    {
                        Fill = "#505444"
                    },
                    AttrsHover = new RaphaelObjectAttrs()
                    {
                        Fill = "#000"
                    }
                }
            },
          
        },
        Areas = new Dictionary<string,MapArea>()
        {
               {"department-59", new MapArea(){
                        Value= 2617939,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Nord (59)</span><br />Population : 2617939"}
                    }},
                    {"department-75", new MapArea(){
                        Value= 2268265,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Paris (75)</span><br />Population : 2268265"}
                    }},
                    {"department-13", new MapArea(){
                        Value= 2000550,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Bouches-du-Rhône (13)</span><br />Population : 2000550"}
                    }},
                    {"department-69", new MapArea(){
                        Value= 1756069,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Rhône (69)</span><br />Population : 1756069"}
                    }},
                    {"department-92", new MapArea(){
                        Value= 1590749,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Hauts-de-Seine (92)</span><br />Population : 1590749"}
                    }},
                    {"department-93", new MapArea(){
                        Value= 1534895,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Seine-Saint-Denis (93)</span><br />Population : 1534895"}
                    }},
                    {"department-62", new MapArea(){
                        Value= 1489209,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Pas-de-Calais (62)</span><br />Population : 1489209"}
                    }},
                    {"department-33", new MapArea(){
                        Value= 1479277,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Gironde (33)</span><br />Population : 1479277"}
                    }},
                    {"department-78", new MapArea(){
                        Value= 1435448,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Yvelines (78)</span><br />Population : 1435448"}
                    }},
                    {"department-77", new MapArea(){
                        Value= 1347008,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Seine-et-Marne (77)</span><br />Population : 1347008"}
                    }},
                    {"department-94", new MapArea(){
                        Value= 1340868,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Val-de-Marne (94)</span><br />Population : 1340868"}
                    }},
                    {"department-44", new MapArea(){
                        Value= 1317685,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Loire-Atlantique (44)</span><br />Population : 1317685"}
                    }},
                    {"department-76", new MapArea(){
                        Value= 1275952,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Seine-Maritime (76)</span><br />Population : 1275952"}
                    }},
                    {"department-31", new MapArea(){
                        Value= 1268370,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Garonne (31)</span><br />Population : 1268370"}
                    }},
                    {"department-38", new MapArea(){
                        Value= 1233759,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Isère (38)</span><br />Population : 1233759"}
                    }},
                    {"department-91", new MapArea(){
                        Value= 1233645,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Essonne (91)</span><br />Population : 1233645"}
                    }},
                    {"department-95", new MapArea(){
                        Value= 1187836,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Val-d'Oise (95)</span><br />Population : 1187836"}
                    }},
                    {"department-67", new MapArea(){
                        Value= 1115226,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Bas-Rhin (67)</span><br />Population : 1115226"}
                    }},
                    {"department-06", new MapArea(){
                        Value= 1094579,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Alpes-Maritimes (06)</span><br />Population : 1094579"}
                    }},
                    {"department-57", new MapArea(){
                        Value= 1066667,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Moselle (57)</span><br />Population : 1066667"}
                    }},
                    {"department-34", new MapArea(){
                        Value= 1062617,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Hérault (34)</span><br />Population : 1062617"}
                    }},
                    {"department-83", new MapArea(){
                        Value= 1026222,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Var (83)</span><br />Population : 1026222"}
                    }},
                    {"department-35", new MapArea(){
                        Value= 1015470,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Ille-et-Vilaine (35)</span><br />Population : 1015470"}
                    }},
                    {"department-29", new MapArea(){
                        Value= 929286,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Finistère (29)</span><br />Population : 929286"}
                    }},
                    {"department-974", new MapArea(){
                        Value= 829903,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">La Réunion (974)</span><br />Population : 829903"}
                    }},
                    {"department-60", new MapArea(){
                        Value= 823668,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Oise (60)</span><br />Population : 823668"}
                    }},
                    {"department-49", new MapArea(){
                        Value= 808298,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Maine-et-Loire (49)</span><br />Population : 808298"}
                    }},
                    {"department-42", new MapArea(){
                        Value= 766729,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Loire (42)</span><br />Population : 766729"}
                    }},
                    {"department-68", new MapArea(){
                        Value= 765634,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haut-Rhin (68)</span><br />Population : 765634"}
                    }},
                    {"department-74", new MapArea(){
                        Value= 760979,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Savoie (74)</span><br />Population : 760979"}
                    }},
                    {"department-54", new MapArea(){
                        Value= 746502,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Meurthe-et-Moselle (54)</span><br />Population : 746502"}
                    }},
                    {"department-56", new MapArea(){
                        Value= 744663,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Morbihan (56)</span><br />Population : 744663"}
                    }},
                    {"department-30", new MapArea(){
                        Value= 726285,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Gard (30)</span><br />Population : 726285"}
                    }},
                    {"department-14", new MapArea(){
                        Value= 699561,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Calvados (14)</span><br />Population : 699561"}
                    }},
                    {"department-45", new MapArea(){
                        Value= 674913,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Loiret (45)</span><br />Population : 674913"}
                    }},
                    {"department-64", new MapArea(){
                        Value= 674908,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Pyrénées-Atlantiques (64)</span><br />Population : 674908"}
                    }},
                    {"department-85", new MapArea(){
                        Value= 654096,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Vendée (85)</span><br />Population : 654096"}
                    }},
                    {"department-63", new MapArea(){
                        Value= 649643,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Puy-de-Dôme (63)</span><br />Population : 649643"}
                    }},
                    {"department-17", new MapArea(){
                        Value= 640803,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Charente-Maritime (17)</span><br />Population : 640803"}
                    }},
                    {"department-01", new MapArea(){
                        Value= 614331,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Ain (01)</span><br />Population : 614331"}
                    }},
                    {"department-22", new MapArea(){
                        Value= 612383,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Côtes-d'Armor (22)</span><br />Population : 612383"}
                    }},
                    {"department-37", new MapArea(){
                        Value= 605819,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Indre-et-Loire (37)</span><br />Population : 605819"}
                    }},
                    {"department-27", new MapArea(){
                        Value= 603194,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Eure (27)</span><br />Population : 603194"}
                    }},
                    {"department-80", new MapArea(){
                        Value= 583388,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Somme (80)</span><br />Population : 583388"}
                    }},
                    {"department-51", new MapArea(){
                        Value= 579533,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Marne (51)</span><br />Population : 579533"}
                    }},
                    {"department-72", new MapArea(){
                        Value= 579497,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Sarthe (72)</span><br />Population : 579497"}
                    }},
                    {"department-71", new MapArea(){
                        Value= 574874,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Saône-et-Loire (71)</span><br />Population : 574874"}
                    }},
                    {"department-84", new MapArea(){
                        Value= 555240,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Vaucluse (84)</span><br />Population : 555240"}
                    }},
                    {"department-02", new MapArea(){
                        Value= 555094,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Aisne (02)</span><br />Population : 555094"}
                    }},
                    {"department-25", new MapArea(){
                        Value= 542509,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Doubs (25)</span><br />Population : 542509"}
                    }},
                    {"department-21", new MapArea(){
                        Value= 538505,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Côte-d'Or (21)</span><br />Population : 538505"}
                    }},
                    {"department-50", new MapArea(){
                        Value= 517121,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Manche (50)</span><br />Population : 517121"}
                    }},
                    {"department-26", new MapArea(){
                        Value= 499313,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Drôme (26)</span><br />Population : 499313"}
                    }},
                    {"department-66", new MapArea(){
                        Value= 457238,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Pyrénées-Orientales (66)</span><br />Population : 457238"}
                    }},
                    {"department-28", new MapArea(){
                        Value= 440291,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Eure-et-Loir (28)</span><br />Population : 440291"}
                    }},
                    {"department-86", new MapArea(){
                        Value= 438566,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Vienne (86)</span><br />Population : 438566"}
                    }},
                    {"department-73", new MapArea(){
                        Value= 428751,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Savoie (73)</span><br />Population : 428751"}
                    }},
                    {"department-24", new MapArea(){
                        Value= 426607,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Dordogne (24)</span><br />Population : 426607"}
                    }},
                    {"department-971", new MapArea(){
                        Value= 409905,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Guadeloupe (971)</span><br />Population : 409905"}
                    }},
                    {"department-972", new MapArea(){
                        Value= 400535,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Martinique (972)</span><br />Population : 400535"}
                    }},
                    {"department-40", new MapArea(){
                        Value= 397766,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Landes (40)</span><br />Population : 397766"}
                    }},
                    {"department-88", new MapArea(){
                        Value= 392846,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Vosges (88)</span><br />Population : 392846"}
                    }},
                    {"department-81", new MapArea(){
                        Value= 387099,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Tarn (81)</span><br />Population : 387099"}
                    }},
                    {"department-87", new MapArea(){
                        Value= 384781,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Vienne (87)</span><br />Population : 384781"}
                    }},
                    {"department-79", new MapArea(){
                        Value= 380569,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Deux-Sèvres (79)</span><br />Population : 380569"}
                    }},
                    {"department-11", new MapArea(){
                        Value= 365854,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Aude (11)</span><br />Population : 365854"}
                    }},
                    {"department-16", new MapArea(){
                        Value= 364429,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Charente (16)</span><br />Population : 364429"}
                    }},
                    {"department-89", new MapArea(){
                        Value= 353366,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Yonne (89)</span><br />Population : 353366"}
                    }},
                    {"department-03", new MapArea(){
                        Value= 353124,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Allier (03)</span><br />Population : 353124"}
                    }},
                    {"department-47", new MapArea(){
                        Value= 342500,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Lot-et-Garonne (47)</span><br />Population : 342500"}
                    }},
                    {"department-41", new MapArea(){
                        Value= 340729,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Loir-et-Cher (41)</span><br />Population : 340729"}
                    }},
                    {"department-07", new MapArea(){
                        Value= 324885,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Ardèche (07)</span><br />Population : 324885"}
                    }},
                    {"department-18", new MapArea(){
                        Value= 319600,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Cher (18)</span><br />Population : 319600"}
                    }},
                    {"department-53", new MapArea(){
                        Value= 317006,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Mayenne (53)</span><br />Population : 317006"}
                    }},
                    {"department-10", new MapArea(){
                        Value= 311720,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Aube (10)</span><br />Population : 311720"}
                    }},
                    {"department-61", new MapArea(){
                        Value= 301421,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Orne (61)</span><br />Population : 301421"}
                    }},
                    {"department-08", new MapArea(){
                        Value= 291678,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Ardennes (08)</span><br />Population : 291678"}
                    }},
                    {"department-12", new MapArea(){
                        Value= 288364,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Aveyron (12)</span><br />Population : 288364"}
                    }},
                    {"department-39", new MapArea(){
                        Value= 271973,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Jura (39)</span><br />Population : 271973"}
                    }},
                    {"department-19", new MapArea(){
                        Value= 252235,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Corrèze (19)</span><br />Population : 252235"}
                    }},
                    {"department-82", new MapArea(){
                        Value= 248227,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Tarn-et-Garonne (82)</span><br />Population : 248227"}
                    }},
                    {"department-70", new MapArea(){
                        Value= 247311,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Saône (70)</span><br />Population : 247311"}
                    }},
                    {"department-36", new MapArea(){
                        Value= 238261,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Indre (36)</span><br />Population : 238261"}
                    }},
                    {"department-65", new MapArea(){
                        Value= 237945,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Hautes-Pyrénées (65)</span><br />Population : 237945"}
                    }},
                    {"department-43", new MapArea(){
                        Value= 231877,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Loire (43)</span><br />Population : 231877"}
                    }},
                    {"department-973", new MapArea(){
                        Value= 231167,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Guyane (973)</span><br />Population : 231167"}
                    }},
                    {"department-58", new MapArea(){
                        Value= 226997,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Nièvre (58)</span><br />Population : 226997"}
                    }},
                    {"department-55", new MapArea(){
                        Value= 200509,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Meuse (55)</span><br />Population : 200509"}
                    }},
                    {"department-32", new MapArea(){
                        Value= 195489,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Gers (32)</span><br />Population : 195489"}
                    }},
                    {"department-52", new MapArea(){
                        Value= 191004,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Marne (52)</span><br />Population : 191004"}
                    }},
                    {"department-46", new MapArea(){
                        Value= 181232,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Lot (46)</span><br />Population : 181232"}
                    }},
                    {"department-2B", new MapArea(){
                        Value= 168869,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Haute-Corse (2B)</span><br />Population : 168869"}
                    }},
                    {"department-04", new MapArea(){
                        Value= 165155,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Alpes-de-Haute-Provence (04)</span><br />Population : 165155"}
                    }},
                    {"department-09", new MapArea(){
                        Value= 157582,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Ariège (09)</span><br />Population : 157582"}
                    }},
                    {"department-15", new MapArea(){
                        Value= 154135,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Cantal (15)</span><br />Population : 154135"}
                    }},
                    {"department-90", new MapArea(){
                        Value= 146475,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Territoire de Belfort (90)</span><br />Population : 146475"}
                    }},
                    {"department-2A", new MapArea(){
                        Value= 145998,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Corse-du-Sud (2A)</span><br />Population : 145998"}
                    }},
                    {"department-05", new MapArea(){
                        Value= 142312,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Hautes-Alpes (05)</span><br />Population : 142312"}
                    }},
                    {"department-23", new MapArea(){
                        Value= 127919,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Creuse (23)</span><br />Population : 127919"}
                    }},
                    {"department-48", new MapArea(){
                        Value= 81281,
                       
                        Tooltip= new MapObjectTooltip() {Content= "<span style=\"font-weight:bold;\">Lozère (48)</span><br />Population : 81281"}
                    }
        }},
        Legend = new Legend()
        {
               Area = new LegendOptions()
               {
                   Title = "Population of France by Dept",
                   Slices = new List<DataSlice>()
                   {
                       new DataSlice()
                       {
                           Max = 300000,
                           Attrs = new RaphaelObjectAttrs()
                           {
                               Fill = "#97e766"
                           },
                           Label = "Less than 300 000 frenchies"
                       },
                       new DataSlice()
                       {
                           Min = 300000,
                           Max = 500000,
                           Attrs = new RaphaelObjectAttrs()
                           {
                               Fill = "#7fd34d"
                           },
                           Label = "Less than 500 000 frenchies"
                       },
                       new DataSlice()
                       {
                           Min = 500000,
                           Max = 1000000,
                           Attrs = new RaphaelObjectAttrs()
                           {
                               Fill = "#5faa32"
                           },
                           Label = "Less than 500 000 frenchies"
                       },
                       new DataSlice()
                       {
                           Min = 1000000,
                           
                           Attrs = new RaphaelObjectAttrs()
                           {
                               Fill = "#3f7d1a"
                           },
                           Label = "Less than 500 000 frenchies"
                       }
                   }
               }
           }
    };
    }

}