<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Demo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Basic
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapwithcustomplottedcitiesandareas">
                <span class="oi oi-plus" aria-hidden="true"></span>Custom Plot
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zoommousewheel">
                <span class="oi oi-plus" aria-hidden="true"></span>Zoom Mousewheel
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapwithlegendforareas">
                <span class="oi oi-plus" aria-hidden="true"></span>Legend for Areas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapwithlegendforplottedcities">
                <span class="oi oi-plus" aria-hidden="true"></span>Legend for Cities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mapwithdynamicslices">
                <span class="oi oi-plus" aria-hidden="true"></span>Dynamic Slices
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventhandling">
                <span class="oi oi-plus" aria-hidden="true"></span>Click Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="mapwithlinksbetweenplottedcities">
                        <span class="oi oi-plus" aria-hidden="true"></span>Links
                    </NavLink>
                </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}