<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="_content/UnlockedData.Mapael/mapael.css" rel="stylesheet"/>
    <link href="site.css" rel="stylesheet"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Demo8.0.styles.css"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>

<script src="_content/UnlockedData.Mapael/js/mapael.dependencies.js"></script>
<script src="_content/UnlockedData.Mapael/js/mapael.js"></script>
<script src="_content/UnlockedData.Mapael/js/unlockeddata.mapael.js"></script>
<script src="_content/UnlockedData.Mapael/js/maps/world_countries_miller.js"></script>
<script src="_content/UnlockedData.Mapael/js/maps/france_departments.js"></script>
<script src="_framework/blazor.web.js"></script>
</body>

</html>